<template>
    <ul class="list-group">
        <li  class="list-group-item"
                style="cursor:pointer"
                v-for="(server) in servers" :key="server.id"
                @click='selected(server)'
                :class="{'selected':server.id==selectedId}">
                <app-server :server="server" ></app-server>
        </li>
    </ul>
</template>
<script>
import Server from './Server.vue'
import {eventBus} from '../main'

export default{
    components:{
        'app-server':Server,
    },    
    data:function(){
        return{
            servers:[
                {id:0,name:'Aristotle',status:'Running'},
                {id:1,name:'Kant',status:'Running'},
                {id:2,name:'Plato',status:'Running'},
                {id:3,name:'Confucius',status:'Unknown'},
                {id:4,name:'Socrates',status:'Stopped'},
            ],
            selectedId: -1
            }
            
    },
    methods:{
        selected(server){
            this.selectedId = server.id;
            eventBus.$emit('newServerSelected', server);
        }
    },
    // created(){
    //     eventBus.$on('serverStatusUpdated', (updatedServer) => {
    //         this.servers[updatedServer.id].status = updatedServer.status;
    //     })
    // }
}
</script>
<style scoped>
    .selected{
        background-color: #fdfdfd;
    }
</style>
