<template>
    <div>
        <h3>Server <b>{{server.name}}</b> Details</h3>
        <p>Status: {{server.status}}</p>
        <button class='btn btn-primary' @click="start" v-if='server.id!=-1'>Strat</button>
        <button class='btn btn-danger' @click="stop" v-if='server.id!=-1'>Stop</button>
    </div>
</template>
<script>
    import {eventBus} from '../main'
    export default{
        data: function() {return{
            server : {id:-1,name:'',status:'Unknown'}
        }},
        methods:{
            start(){
                this.server.status = "Running"
                //eventBus.$emit('serverStatusUpdated',{id:this.server.id,status:"Running"})
            },
            stop(){
                this.server.status = "Stopped"
                //eventBus.$emit('serverStatusUpdated',{id:this.server.id,status:"Stopped"})
            }
        },
        created(){
            eventBus.$on('newServerSelected', (selectedServer) => {
                this.server = selectedServer;
            })
        }
    }
    
</script>