<template>
    <div>
        <h3>Some User {{$route.params.id}} Details</h3>
        <router-link class="btn btn-primary" 
                     tag="button" 
                     :to="'/users/'+$route.params.id+'/edit'">
                     Edit (using Path)</router-link>
        <router-link class="btn btn-primary" 
                     tag="button" 
                     :to="{name:'userEdit',params:{id: $route.params.id}}">
                     Edit (using Name) </router-link>
        <router-link class="btn btn-primary" 
                     tag="button" 
                     :to="{
                         name:'userEdit',
                         params:{id: $route.params.id}, 
                         query:{locale:'en', q:100}
                     }">
                     Edit (using qurey) </router-link>
        <router-link class="btn btn-secondary" 
                     tag="button" 
                     :to="{
                         name:'userEdit',
                         params:{id: $route.params.id}, 
                         query:{locale:'en', q:100},
                         hash:'#data'
                     }">
                     Edit (using hash) </router-link>

    </div>
</template>
<script>
export default {
    data(){
        return{
            id:0
        }
    },
    beforeRouteEnter(to, form, next){
        console.log("Finallly check beforeRouteEnter in the component itself")
        //this.id is not available here since the component is not loaded yet. 
        if (true) //here we can do authentication
            next();
        else
            next(false);    
        //we can only access it in a callback function
        // next(vm =>{
        //     vm.id
        // });
    }
}
</script>
