<template>
    <div>
        <h3>Edit the User</h3>
        <p>Locake: {{$route.query.locale}}</p>
        <p>Weight: {{$route.query.q}} kg</p>
        <div style="height:1200px">
            Big empty space
        </div>
        <button class="btn btn-primary" @click="confirmed=true">Confirm</button>
        <p id="data">Some extra data</p>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                confirmed: false
            }
        },
        beforeRouteLeave(to, from, next){
            if (this.confirmed)
                next();
            else
                if (confirm('You are going to lose your changes?'))
                    next()
                else
                    next(false);    
        },
        methods:{

        }
    }
</script>