<template>
    <div>
        <h1>The User {{id}} Page</h1>
        <button class="btn btn-primary" @click="goHome">Go Home</button>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    data(){
        return {
            id: this.$route.params.id
        }
    },
    watch:{
        '$route'(to,from){
            this.id = to.params.id
        }
    },
    methods:{
        goHome(){
            this.$router.push({path:'/'}) //push it on the stack of existing routs to enable back and forwards buttons
        }
    }
}
</script>
