<template>
      <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <router-link class="navbar-brand" to="/">Home</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <router-link class="nav-item" tag="li" active-class="active" exact to="/"><a class="nav-link">Home</a></router-link>
            <router-link class="nav-item" tag="li" active-class="active" to="/users"><a class="nav-link">Users</a></router-link>
            <router-link class="nav-item" tag="li" active-class="active" to="/user/1"><a class="nav-link">User 1</a></router-link>
            <router-link class="nav-item" tag="li" active-class="active" to="/user/2"><a class="nav-link">User 2</a></router-link>
            <router-link class="nav-item" tag="li" active-class="active" exact to="/"><a class="nav-link">Disabled</a></router-link>
          </ul>
        </div>
      </nav>
</template>

<script>
import $ from "jquery"
export default{
}      
</script>
<style lang="scss">
  @import '../../node_modules/bootstrap/scss/bootstrap.scss';
</style>