<template>
    <div>
        <p>Counter x is: {{ counter }} directly using counter</p>
        <p>Counter x2 is: {{ counterX2 }} using a getter</p>
        <p>{{ counterHEX }}</p>
    </div>        
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  computed: {
    counter() {
      return this.$store.state.counter;
    },
    ...mapGetters(['counterX2','counterHEX'])
  },
};
</script>