<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" >
                <h1>Animations</h1>
                 <div style="line-height: 25px">
                 <span :class='{act:active==0}' @click='active=0'>Single Element (CSS)</span>&nbsp;&nbsp;&nbsp;   
                 <span :class='{act:active==1}' @click='active=1'>Switch Element (CSS)</span>&nbsp;&nbsp;&nbsp; 
                 <span :class='{act:active==2}' @click='active=2'>JavaScript hooks</span>&nbsp;&nbsp;&nbsp; 
                 <span :class='{act:active==3}' @click='active=3'>Dynamic Components</span>&nbsp;&nbsp;&nbsp; 
                 <span :class='{act:active==4}' @click='active=4'>List of items</span>&nbsp;&nbsp;&nbsp; 

                 </div>
                 <hr>
            </div>
        </div>            
        <!-- ------------------------ Page 1 Single Element (CSS)-------------------------- -->
        <div v-if="active==0">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 boxy" >
                    <button class="btn btn-primary" @click="show=(show+1)%6">{{effectNames[show]}} Alert</button>    
                    <br><br>
                    <transition name="fade">
                        <div class="alert alert-info" v-if="show==0">There is always tomorrow FADE</div>
                    </transition>
                    <transition name="slide">
                        <div class="alert alert-info" v-if="show==2">Falling into the world of ... SLIDE</div>
                    </transition>
                    <transition name="fade-slide" type="animation">
                        <div class="alert alert-info" v-if="show==4">Falling into the world of ... SLIDE and FADE</div>
                    </transition>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h3>Animations on the initial loading in the DOM</h3>
                    <transition name="fade-slide" appear>
                        <div class="alert alert-success">There is always tomorrow FADE</div>
                    </transition>
                    <transition name="fade-slide" appear>
                        <div style="animation-delay:.5s;transition-delay:.5s" class="alert alert-success">Falling into the world of ... SLIDE</div>
                    </transition>
                    <transition name="fade-slide" appear type="animation">
                        <div style="animation-delay:1s;transition-delay:1s" class="alert alert-success">Falling into the world of ... SLIDE and FADE</div>
                    </transition>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h3>Animations on the initial loading in the DOM with <a href="https://daneden.github.io/animate.css/">Animate.css</a></h3>
                    <transition appear
                    enter-active-class="animated bounceInLeft" 
                    leave-active-class="animated shake">
                        <div class="alert alert-warning">Using Animate.css bounceInLeft / shake</div>
                    </transition>
                </div>
            </div>
        </div>    
        <!-- ------------------------ Page 2 Switch Element (CSS)-------------------------- -->
        <div v-if="active==1">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h3>Transition between two elements using CSS</h3>
                    <button class="btn btn-primary" @click="swap=!swap;mode='out-in'">Switch out-in</button>    
                    <button class="btn btn-secondary" @click="swap=!swap;mode='in-out'">Switch in-out</button>    

                    <br><br>
                    <transition name="fade-slide" :mode="mode">
                        <div class="alert alert-success" key="success" v-if="swap">There is always tomorrow</div>
                        <div class="alert alert-warning" key="warning" v-else>Falling into the world of ...</div>
                    </transition>
                </div>
            </div>
        </div>
        <!-- ------------------------ Page 3 JavaScript hooks-------------------------- -->
        <div v-if="active==2">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h3>Transition using JavaScript :css="false" </h3>
                    <button class="btn btn-primary" @click="swap=!swap;log.push('---------' + (swap?'Show':'Hide')+'---------')">{{(swap?'Hide':'Show')}}</button>    
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-2 col-md-offset-3">
                    <transition
                        @before-enter='beforeEnter'
                        @enter='enter'
                        @after-enter='afterEnter'
                        @enter-cancelled='enterCancelled'
                        @before-leave='beforeLeave'
                        @leave='leave'
                        @after-leave='afterLeave'
                        @leave-cancelled='leaveCancelled'
                        :css="false">
                        <div style='width: 50%; height:120px; border:12px solid darkolivegreen; background-color: olive' v-if="swap"></div>
                    </transition>
                </div>
                <div class="col-sm-3">
                        <div class="code small" style="overflow-y:scroll; height:120px; width=100%"><p v-for="(line,index) in log" :key="index">{{line}}</p></div>
                </div>
            </div>
        </div>
        <!-- ------------------------ Page 4 Dynamic Components-------------------------- -->
        <div v-if="active==3">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h3>Animation with dynamic components</h3>
                    <select v-model='selectedComponent'>
                        <option value="AlienClock">AlienClock</option>
                        <option value="Progress">Progress bar</option>
                    </select>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <transition name="fade-slide" mode="out-in">
                        <keep-alive>
                            <component :is="selectedComponent"></component>
                        </keep-alive>
                    </transition>
                </div>    
            </div>
        </div>    
        <!-- ------------------------ Page 5 List of items-------------------------- -->
        <div v-if="active==4">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h3>Animation of list items</h3>
                    
                    <button class="btn btn-primary" @click="addTree">Add tree</button>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 bg-portrate">
                    <ul class="list-group">
                        <transition-group name="full-slide" >
                            <li class="list-group-item" style="opacity: .8;cursor:pointer;" 
                                v-for="(tree,index) in trees" :key='tree' 
                                v-html="tree"
                                @click="removeTree(index)"
                            ></li>
                        </transition-group>                            
                     </ul>
                </div>    
            </div>
        </div>    
    </div>
</template>

<script>
    import AlienClock from './components/AlienClock.vue'
    import Progress from './components/Progress.vue'
    const treeCatalog =['<b>Giant sequoia</b>(Sequoiadendron giganteum)',
                    '<b>Coast redwood</b>(Sequoia sempervirens)',
                    '<b>Kauri</b> (Agathis australis)',
                    '<b>Western redcedar</b>(Thuja plicata)',
                    '<b>Eucalyptus regnans</b>',
                    '<b>Tasmanian blue gum</b>(Eucalyptus globulus)',
                    '<b>Coast Douglas-fir</b>(Pseudotsuga menziesii)',
                    '<b>Sitka spruce</b>(Picea sitchensis)',
                    '<b>Eucalyptus obliqua</b>',
                    '<b>Eucalyptus delegatensis</b>',
                    '<b>Montezuma cypress</b>(Taxodium mucronatum)',
                    '<b>Baobab </b>(Adansonia digitata)',
                    '<b>Coast redwood </b>(Sequoia sempervirens)',
                    '<b>Za</b>(Adansonia za)',
                    '<b>Chinese camphor tree</b>(Cinnamomum camphora)',
                    '<b>Western redcedar</b>(Thuja plicata)',
                    '<b>Eucalyptus delegatensis</b>',
                    '<b>Sitka spruce</b> (Picea sitchensis)'];

    export default {
        components:{
            AlienClock:AlienClock,
            Progress:Progress
        },
        data() {
            return {
                show:0,
                active:0,
                swap:false,
                mode:'out-in',
                selectedComponent:'AlienClock',
                effectNames:['Hide Fade','Show Slide','Hide Slide','Show Fade & Slide','Hide Fade & Slide','Show Fade'],
                log:[], 
                trees:treeCatalog.slice(1,8)
            }
        },
        methods:{
            beforeEnter(el){
                this.log.push('beforeEnter(el)');
                el.style.width = '0%';
            },
            enter(el,done){
                this.log.push('enter(el,done)');
                let step=1;
                const interval = setInterval(()=>{
                    el.style.width= (step) + '%';
                    if (++step>100) {
                        clearInterval(interval);
                        done();
                    }
                },50)
                done();
            },
            afterEnter(el){
                this.log.push('afterEnter(el)');
            },
            enterCancelled(el){
                this.log.push('enterCancelled(el)');
            },
            beforeLeave(el){
                this.log.push('beforeLeave(el)');
                el.style.width = '100%';
            },
            leave(el,done){
                this.log.push('leave(el,done)');
                this.log.push('enter(el,done)');
                let step=1;
                const interval = setInterval(()=>{
                    el.style.width= (100-step) + '%';
                    if (++step>100) {
                        clearInterval(interval);
                        done();
                    }
                },50)
            },
            afterLeave(el){
                this.log.push('afterLeave(el)');
            },
            leaveCancelled(el){
                this.log.push('leaveCancelled(el)');
            }, 
            addTree(){
                let index = this.trees.length
                const position = Math.floor(this.trees.length*Math.random());
                this.trees.splice(position,0,treeCatalog[index%treeCatalog.length]);
            },
            removeTree(index){
              this.trees.splice(index,1);  
            }

        }
    }
</script>

<style>
    .act{
        color:#6b582f;
        padding-bottom: 3px;
        border-bottom: solid 3px darkolivegreen;
    }
    .boxy{
        height: 120px;
    }
    .fade-enter {
        opacity: 0;
    }
    .fade-enter-active {
        transition: opacity 500ms;
    }
    .fade-leave {
        opacity: 1;
    }
    .fade-leave-active {
        transition: opacity 500ms;
        opacity: 0;
    }

    .slide-enter {
        transform: translateY(20px);
    }
    .slide-enter-active {
        animation: slide-in 500ms ease-out forwards;
    }
    .slide-leave {
        transform: translateY(0px);
    }
    .slide-leave-active {
        animation: slide-out 500ms ease-out forwards;
    }

    .full-slide-enter {
        transform: translateX(200px);
    }
    .full-slide-enter-active {
        animation: slide-left 1000ms ease-out forwards;
    }
    .full-slide-leave {
        transform: translateX(0px);
    }
    .full-slide-leave-active {
        animation: slide-right 1000ms ease-out forwards;
        position: absolute;
    }
    .full-slide-move{
        transition: transform 1s;
    }

    .fade-slide-enter {
        opacity: 0;
        transform: translateY(20px);
    }
    .fade-slide-enter-active {
        animation: slide-in 1000ms ease-out forwards;
        transition: opacity 700ms;
    }
    .fade-slide-leave {
        transform: translateY(0px);
        opacity: 1;

    }
    .fade-slide-leave-active {
        animation: slide-out 500ms ease-out forwards;
        transition: opacity 700ms;
        opacity: 0;
    }

    @keyframes slide-in {
        from {
            transform: translateY(20px);
        }
        to{
            transform: translateY(0px);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0px);
        }
        to{
            transform: translateY(20px);
        }
    }
    @keyframes slide-left {
        from {
            transform: translateX(-500px);
        }
        to{
            transform: translateX(0px);
        }
    }

    @keyframes slide-right {
        from {
            transform: translateX(0px);
        }
        to{
            transform: translateX(500px);
        }
    }
  .bg-portrate {
    background-image: url("https://paiacontemporarygallery.com/paia/wp-content/gallery/michael-kessler/original/aspenized-a7-60x40.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-landscape {
    background-image: url("https://paiacontemporarygallery.com/paia/wp-content/gallery/michael-kessler/original/radome-4-by-michael-kessler-mixed-media-on-panel-40-x-60-x-inches-year-2013-at-paia-contemporary-gallery.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }    

</style>
