<template>
  <div id="axious">
    <app-header />
    <router-view></router-view>
  </div>
</template>

<script>
  import Header from './components/header/header.vue'
  export default {
    components: {
      'app-header': Header
    },
    created(){
      this.$store.dispatch('attemptAutoSignin');
    }
  }
</script>

<style>
  body, html {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>
