<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Mixin examples</h4>
                    </div>
                    <div class="panel-body">
                        <p> What fruit do you like the most?</p>
                        <input class='form-contol' v-model='addon'>
                        <button @click='fruits.push(addon)'>Add to list</button>
                        <br>
                        <input class='form-contol' v-model='filterText'>
                        <ul>
                            <li v-for="(fruit,index) in filteredFruits" :key='index'>{{fruit}}</li>
                        </ul>
                    </div> 
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>More examples</h4>
                    </div>
                    <div class="panel-body">

                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                        <input class='form-contol' v-model='text'>
                        <h5>Processed:</h5>
                        <p> <i>local filter:</i> {{text | reverse}}</p>

                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                        <p> <i>global filter:</i> {{text | sizer}}</p>

                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                        <p><i>computed: </i> {{reversedText}}</p>
                        <p><i>computed: </i> {{textSizer}}</p>

                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
                        <p><i>computed mixin: </i> {{reversedTextMixin}}</p>
                        <p><i>computed mixin: </i> {{textSizerMixin}}</p>
                    </div> 
                </div>


            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

Vue.filter('sizer',(value)=>{
    return `${value} (${value.length} charactes long)`;
}
)

Vue.mixin({
   created(){
      //console.log(`Global Mixin in Componnet ${this._uid} Created`);
   },
   destroyed(){
      //console.log(`Global Mixin in Componnet ${this._uid} Destroyed `);
   }
});

const textMixin = {
   computed:{
         reversedTextMixin() {
            return  [...this.text].reverse().join('');
         },
         textSizerMixin() {
            return `${this.text} (${this.text.length} charactes long)`;
         }
   }
}

import {fruitMixin} from './fruitMixin.js';
export default {
   mixins:[fruitMixin, textMixin], 
   data(){
      return {
         addon:'Berries',
         text:'live desserts stink guns pals',
      }
   },
   filters:{
        reverse(value){
            return [...value].reverse().join('');
        }  
    },
   computed:{
      reversedText() {
         return  [...this.text].reverse().join('');
      },
      textSizer() {
         return `${this.text} (${this.text.length} charactes long)`;
      }

   },
   created(){
      //console.log('Component Created');
   }
};
</script> 

<style>
</style>