<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1 class="text-center">Summo Quiz</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
               <!-- <transition appear mode="out-in"
                    enter-active-class="animated flipInY" 
                    leave-active-class="animated flipOutY">
                  <component :is="mode" @answered="answered($event)" @confirmed="mode = 'app-question'"></component>
               </transition> -->
                <transition :name="effect" mode="out-in">
                  <component :is="mode" @answered="answered($event)" @confirmed="mode = 'app-question'" :class="{'shake animated': animated}"></component>
               </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import Question from './components/Question.vue';
    import Answer from './components/Answer.vue';

    export default {
        data() {
            return {
                mode: 'app-question', 
                effect:'flip',
                animated:false
            }
        },
        methods: {
          answered(isCorrect) {
              if (isCorrect) {
                  this.effect='flip';
                  this.mode = 'app-answer';
              } else {
                  this.shake();
                  this.mode = 'app-question';

              }
          },
          shake(){
              this.effect='shake';
              this.animated = true;
              setTimeout(()=>{ this.animated = false; this.effect='flip';}, 1000);
          }
        },
        components: {
            appQuestion: Question,
            appAnswer: Answer
        }
    }
</script>

<style scoped>
    .flip-enter{
        transform:rotateY(0deg)
    }
    .flip-enter-active{
        animation: flip-in 0.5s ease-out forwards;
    }
    .flip-leave{
        transform:rotateY(0deg)
    }
    .flip-leave-active{
        animation: flip-out 0.5s ease-out forwards;
    }

    @keyframes flip-out {
        from{
            transform: rotateY(0deg);
        }
        to{
            transform: rotateY(90deg);
        }
        
    }
    @keyframes flip-in {
        from{
            transform: rotateY(90deg);
        }
        to{
            transform: rotateY(0deg);
        }
    }

    .shake-enter{
        transform:translateX(0px) rotateY(0deg);
    }
    .shake-enter-active{
        animation: headShake 0.5s ease-out forwards;
    }


    .shake{
        animation: headShake 0.5s ease-out forwards;
    } 

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}



</style>
