<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <router-view name="header-top"></router-view>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Routing</h1>
                <hr> 
                <transition name="fade-slide" mode="out-in">
                    <router-view></router-view>
                </transition>               
                <transition name="fade-slide" mode="out-in">
                    <router-view name="header-bottom"></router-view>
                </transition>                                   
            </div>
        </div>
    </div>
</template>

<script>
import Header from './components/Header'
    export default {
        components:{
            appHeader:Header
        }
    }
</script>

<style>
    .fade-slide-enter {
        opacity: 0;
        transform: translateY(20px);
    }
    .fade-slide-enter-active {
        animation: slide-in 1000ms ease-out forwards;
        transition: opacity 700ms;
    }
    .fade-slide-leave {
        transform: translateY(0px);
        opacity: 1;

    }
    .fade-slide-leave-active {
        animation: slide-out 500ms ease-out forwards;
        transition: opacity 700ms;
        opacity: 0;
    }  
    
    @keyframes slide-in {
        from {
            transform: translateY(20px);
        }
        to{
            transform: translateY(0px);
        }
    }

    @keyframes slide-out {
        from {
            transform: translateY(0px);
        }
        to{
            transform: translateY(20px);
        }
    }



</style>
