<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>{{title}}</h1>
                <!-- <app-result :counter="counter"></app-result> -->
                <app-result></app-result>
                <hr>
                <!-- <app-counter @updated="counter += $event"></app-counter> -->
                <app-counter></app-counter>
                <br>
                <p>Using v-model to bind to store getters and dispatchers via computed property</p>
                <input type='text' v-model="value"> = {{value}}
            </div>
        </div>
    </div>
</template>

<script>
    import Counter from './components/Counter.vue';
    import Result from './components/Result.vue';

    export default {
        computed: {
            value:{
                get(){
                    //return this.$store.getters.value;
                    return this.$store.state.value.value;
                },
                set(value){
                    this.$store.dispatch('setValue',value);
                }
            }, 
            title(){
                return this.$store.state.title;
            }
        },
        data() {
            return {
               // counter: 0
            }
        },
        components: {
            appCounter: Counter,
            appResult: Result,
        }
    }
</script>

